.card-body {
    display: flex;
    width: auto;
    height: 30vh;
    border-radius: 1rem;
}

.img-sizing {
    width: auto;
    height: auto;
    object-fit: cover;
}

.album-heading {
    font-weight: bold;
    color: white;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.album-name {
    margin: .5rem;
    border-radius: 1rem;
    background-color: #121212;
    color: #ffffff;
    font-size: small;
    padding: .5rem;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
}

.album-title {
    color: white;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}